    <%= erb :navbar %>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Request Help From Kevin</h1>
            <h3>Yup we made this</h3>
            <br>

            
            <a href="#" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#request">Request Help</a>
            <div class="kev-img-container">
                <a href="#" data-toggle="modal" data-target="#request"><img id="kev-pic" src="/img/kev.jpg" /></a>
            </div>
        </div>
    </header>



    <%= erb :modals %>



    <!-- Custom JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>