    <!-- LOGIN MODAL -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="/login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" value="Login" class="btn btn-primary"></input>

      </form>
      </div>
    </div>
  </div>
</div>

<!-- Create User MODAL -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="/register">
          <div class="form-group">
            <label>Email Address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label>Create a Cool Handle </label>
            <input type="text" class="form-control" name="handle" placeholder="Enter handle">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" value="submit" class="btn btn-primary"></input>

      </form>
      </div>
    </div>
  </div>
</div>


<!-- Request Modal -->


<div class="modal fade" id="request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Request Form</h4>
      </div>
      <div class="modal-body">
<!--         <form class="form-horizontal" method="post" action="http://matsuba.ca/mailit.php">
 -->
        <form class="form-horizontal" method="post" action="/kevinrequest/new">
        <div class="form-group">
          <label for="Name" class="col-sm-2 control-label">Your Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" placeholder="James">
          </div>
        </div>

        <div class="form-group">
          <label for="IssueTitle" class="col-sm-2 control-label">Issue Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="issue_title" placeholder="Git Workflows Help">
          </div>
        </div>
        <div class="form-group">
          <label for="IssueDesc" class="col-sm-2 control-label">Issue Description</label>
          <div class="col-sm-10">
            <input type="textarea" class="form-control"  placeholder="Jody pushed stuff, everything is fucked, how do we fix it? make it better kevin" name="issue_desc" >
          </div>
        </div>
        <div class="form-group">
          <label for="Incentive" class="col-sm-2 control-label">Offered Incentive</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="A beer? Sexual Favors?"  name="incentive">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" value="submit" class="btn btn-primary"></input>

      </form>
      </div>
    </div>
  </div>
</div>

