    <%= erb :navbar %>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>You Have Been Added <br> to Kevin's Queue</h1>
            <h3>He will be with you shortly</h3>
            <br>

            <a href="http://tinyurl.com/kheyeok" class="btn btn-dark btn-lg">Get Help Faster</a>
        </div>
    </header>

    <%= erb :modals %>

    
    <!-- Custom JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>